@import url(https://fonts.googleapis.com/css?family=Poppins:regular,500&display=swap);
@import url(https://fonts.googleapis.com/css?family=Orbitron:500,600,700&display=swap);
:root {
  --primary: #fff;
  --secondary: rgba(255, 255, 255, 0.80);
  --bg-secondary: #7678ed;
  --bg-accent: #4cc9f0;
  --bg-inverse: #2d00f7;
  --bg-primary: linear-gradient(180deg, #010208 16.39%, #010206 20.51%, #040008 24.79%, #010101 30.46%, #010101 34.11%, #010101 36.21%, #010101 100%);
  --text-primary: #fff;
  --text-secondary: linear-gradient(97deg, rgba(248, 108, 248, 1) 12.04%, rgba(100, 206, 245, 1) 81.84%);
  --text-accent: red;
  --text-inverse: #e8eddf
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #fff;
  line-height: 1;
  font-family: Poppins;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: Poppins;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  background-color: #000
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
[class*=__container] {
  max-width: 76.875rem;
  margin: 0 auto;
  padding: 0 .9375rem
}
.menu__list {
  display: flex;
  row-gap: .9375rem;
  flex-wrap: wrap
}
.menu__link {
  line-height: 150%
}
.icon-menu {
  display: none
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.button {
  position: relative;
  padding: .75rem .875rem;
  border-radius: .3125rem;
  min-width: 10.8125rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 150%;
  background: linear-gradient(97deg,#d10ed1 12.04%,#10a3da 81.84%);
  transition: all .3s
}
.item-achievements__actions .button {
  min-width: 6.4375rem;
  line-height: 1;
  font-size: 1rem
}
.button--border {
  border-radius: .3125rem;
  background: linear-gradient(97deg,#d10ed1 12.04%,#10a3da 81.84%) left top/100% .0625rem no-repeat,linear-gradient(97deg,#d10ed1 12.04%,#10a3da 81.84%) left bottom/100% .0625rem no-repeat
}
.button--border::after,
.button--border::before {
  content: "";
  position: absolute;
  width: .3125rem;
  height: 100%;
  top: 0
}
.button--border::before {
  left: 0;
  border-radius: .3125rem 0 0 .3125rem;
  border: .0625rem solid #d10ed1;
  border-right: none
}
.button--border::after {
  right: 0;
  border-radius: 0 .3125rem .3125rem 0;
  border: .0625rem solid #10a3da;
  border-left: none
}
.title-block__title {
  font-family: Orbitron;
  font-weight: 600;
  line-height: 125%
}
.title-block__title span {
  background: linear-gradient(97deg,#f86cf8 12.04%,#64cef5 81.84%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text
}
.title-block__text {
  color: var(--secondary);
  font-size: 1.125rem;
  line-height: 150%
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20
}
.header__container {
  padding-top: .3125rem;
  padding-bottom: .3125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.875rem
}
.header__logo {
  position: relative;
  z-index: 5;
  font-family: Orbitron;
  font-size: 1.375rem;
  font-weight: 700;
  line-height: 127%
}
.footer {
  background-color: #090823
}
.footer__container {
  display: flex;
  gap: 1rem
}
.footer__info {
  flex: 0 1 43.6666666667%;
  -webkit-transform: translate(0,30%);
  transform: translate(0,30%);
  opacity: 0
}
.footer__info._watcher-view {
  transition-delay: .1s;
  transition-duration: 1.5s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.footer__columns {
  flex: 0 1 55%;
  display: flex
}
.footer__column {
  -webkit-transform: translate(0,30%);
  transform: translate(0,30%);
  opacity: 0
}
.footer__column._watcher-view {
  transition-delay: .25s;
  transition-duration: 1.5s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.footer__column:nth-child(2) {
  -webkit-transform: translate(0,30%);
  transform: translate(0,30%);
  opacity: 0
}
.footer__column:nth-child(2)._watcher-view {
  transition-delay: .35s;
  transition-duration: 1.5s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.footer__column:nth-child(3) {
  -webkit-transform: translate(0,40%);
  transform: translate(0,40%);
  opacity: 0
}
.footer__column:nth-child(3)._watcher-view {
  transition-delay: .45s;
  transition-duration: 1.5s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.footer__logo {
  font-family: Orbitron;
  line-height: 126%
}
.footer__logo span {
  background: linear-gradient(97deg,#f86cf8 12.04%,#64cef5 81.84%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text
}
.footer__text {
  color: var(--secondary);
  line-height: 166%
}
.footer__title {
  font-family: Orbitron;
  font-weight: 700;
  line-height: 125%
}
.footer__item:not(:last-child) {
  margin-bottom: .5rem
}
.footer__link {
  line-height: 150%
}
.socials-footer {
  display: flex;
  gap: 1.3125rem
}
.socials-footer__link {
  width: 2.1875rem;
  height: 2.1875rem;
  transition: all .4s
}
.socials-footer__link img {
  width: 100%;
  height: 100%
}
.hero {
  position: relative
}
.hero::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -7.5rem;
  right: -21.75rem;
  border-radius: 65.375rem;
  background: radial-gradient(40.17% 39.79% at 50% 50%,rgba(170,20,240,.28) 0,rgba(170,20,240,0) 100%)
}
.hero__container {
  display: flex;
  justify-content: space-between;
  gap: .9375rem
}
.hero__body {
  flex: 0 1 51%;
  position: relative
}
.hero__body::before {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 56rem;
  top: -37.5rem;
  left: -1.5rem;
  background: radial-gradient(40.17% 39.79% at 50% 50%,rgba(170,20,240,.28) 0,rgba(170,20,240,0) 100%)
}
.hero__body::after {
  content: "";
  position: absolute;
  z-index: -1;
  border-radius: 66.0625rem;
  top: 43%;
  right: 37%;
  background: radial-gradient(40.17% 39.79% at 50% 50%,rgba(170,20,240,.28) 0,rgba(170,20,240,0) 100%)
}
.hero__title {
  font-family: Orbitron;
  font-weight: 600;
  line-height: 151%;
  -webkit-transform: translate(-20%,0);
  transform: translate(-20%,0);
  opacity: 0;
  transition: all 1.5s
}
.hero__title span {
  background-image: linear-gradient(97deg,#f86cf8 12.04%,#64cef5 81.84%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text
}
.hero__title:not(:last-child) {
  margin-bottom: 1rem
}
.hero__title._watcher-view {
  transition-duration: 1.5s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.hero__text {
  color: #fff;
  font-size: 1.25rem;
  line-height: 150%;
  -webkit-transform: translate(-30%,0);
  transform: translate(-30%,0);
  opacity: 0
}
.hero__text._watcher-view {
  transition-duration: 1.5s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.hero__actions {
  display: flex;
  gap: 1rem;
  -webkit-transform: translate(0,80%);
  transform: translate(0,80%);
  opacity: 0;
  transition: all 1.5s
}
.hero__actions._watcher-view {
  transition-duration: 1.5s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.hero__items {
  display: flex;
  flex-wrap: wrap
}
.hero__image {
  aspect-ratio: 1/1;
  position: relative;
  flex: 0 1 47.166667%;
  -webkit-transform: translate(25%,0);
  transform: translate(25%,0);
  opacity: 0
}
.hero__image._watcher-view {
  transition-delay: .3s;
  transition-duration: 1.7s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.hero__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.hero__image::after {
  content: "";
  position: absolute;
  left: 3.125rem;
  background: #000;
  -webkit-filter: blur(100px);
  filter: blur(100px)
}
.item-hero__value {
  font-family: Orbitron;
  font-weight: 500;
  line-height: 125%
}
.item-hero__value::after {
  content: "K+"
}
.item-hero__descr {
  font-size: 1.125rem;
  line-height: 133%
}
.about__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25rem
}
.about__images {
  display: flex;
  flex: 0 1 45.3333333333%;
  -webkit-filter: drop-shadow(0 -1px 0 #d10ed1) drop-shadow(0 1px 0 #d10ed1) drop-shadow(1px 0 0 #10a3da) drop-shadow(-1px 0 0 #10a3da);
  filter: drop-shadow(0 -1px 0 #d10ed1) drop-shadow(0 1px 0 #d10ed1) drop-shadow(1px 0 0 #10a3da) drop-shadow(-1px 0 0 #10a3da);
  -webkit-transform: translate(-20%,0);
  transform: translate(-20%,0);
  opacity: 0
}
.about__images._watcher-view {
  transition-delay: .3s;
  transition-duration: 1.5s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.about__image--left {
  flex: 0 1 53.816794%;
  aspect-ratio: 282/297;
  overflow: hidden;
  margin-bottom: 7.3125rem;
  background-color: #090823;
  border-top-right-radius: 1.5625rem;
  border-bottom-left-radius: 1.5625rem;
  padding: .75rem .625rem .8125rem .5rem
}
.about__image--left img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.about__image--right {
  flex: 0 1 53.816794%;
  aspect-ratio: 282/300;
  overflow: hidden;
  margin-top: 6.6875rem;
  padding: .75rem .625rem .8125rem .5rem;
  background-color: #090823;
  border-top-left-radius: 1.5625rem;
  border-bottom-right-radius: 1.5625rem;
  margin-left: -4.0625rem
}
.about__image--right img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.about__content {
  flex: 0 1 43.6666666667%
}
.about__title {
  -webkit-transform: translate(20%,0);
  transform: translate(20%,0);
  opacity: 0
}
.about__title._watcher-view {
  transition-delay: .3s;
  transition-duration: 1.5s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.about__text {
  -webkit-transform: translate(30%,0);
  transform: translate(30%,0);
  opacity: 0
}
.about__text._watcher-view {
  transition-delay: .2s;
  transition-duration: 1.5s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.about__button {
  -webkit-transform: translate(0,80%);
  transform: translate(0,80%);
  opacity: 0;
  min-width: 8.5625rem
}
.about__button._watcher-view {
  transition-delay: .3s;
  transition-duration: 1.5s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.achievements__content {
  text-align: center
}
.achievements__title {
  -webkit-transform: translate(-5%,0);
  transform: translate(-5%,0);
  opacity: 0
}
.achievements__title._watcher-view {
  transition-delay: .5s;
  transition-duration: 1.7s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.achievements__text {
  -webkit-transform: translate(5%,0);
  transform: translate(5%,0);
  opacity: 0
}
.achievements__text._watcher-view {
  transition-delay: .5s;
  transition-duration: 1.7s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.achievements__items {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(18.125rem,1fr));
  position: relative
}
.achievements__items::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -34.375rem;
  right: -43.75rem;
  border-radius: 65.375rem;
  background: radial-gradient(40.17% 39.79% at 50% 50%,rgba(170,20,240,.28) 0,rgba(170,20,240,0) 100%)
}
.achievements__item {
  -webkit-transform: translate(-15%,0);
  transform: translate(-15%,0);
  opacity: 0
}
.achievements__item._watcher-view {
  transition-delay: .5s;
  transition-duration: 1.7s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.achievements__item:nth-child(4) {
  -webkit-transform: translate(15%,0);
  transform: translate(15%,0);
  opacity: 0
}
.achievements__item:nth-child(4)._watcher-view {
  transition-delay: .5s;
  transition-duration: 1.7s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.achievements__item:nth-child(5) {
  -webkit-transform: translate(15%,0);
  transform: translate(15%,0);
  opacity: 0
}
.achievements__item:nth-child(5)._watcher-view {
  transition-delay: .5s;
  transition-duration: 1.7s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.achievements__item:nth-child(6) {
  -webkit-transform: translate(15%,0);
  transform: translate(15%,0);
  opacity: 0
}
.achievements__item:nth-child(6)._watcher-view {
  transition-delay: .5s;
  transition-duration: 1.7s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.item-achievements__wrapper {
  min-height: 100%;
  padding: 1.25rem 1.25rem 2.5rem 1.25rem;
  background-color: #090823;
  border-radius: 0 2.1875rem 0 2.1875rem;
  display: flex;
  flex-direction: column
}
.item-achievements__image {
  display: block;
  aspect-ratio: 335/217;
  overflow: hidden;
  border-radius: 0 1.0625rem 0 0
}
.item-achievements__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 0 1.0625rem 0 0;
  transition: all .3s;
  -webkit-transform: scale(1.04);
  transform: scale(1.04)
}
.item-achievements__body {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column
}
.item-achievements__content {
  flex: 1 1 100%
}
.item-achievements__title:not(:last-child) {
  margin-bottom: .5rem
}
.item-achievements__title-link {
  font-family: Orbitron;
  font-weight: 600;
  line-height: 125%;
  text-decoration-color: transparent;
  transition: all .3s
}
.item-achievements__text {
  line-height: 150%
}
.item-achievements__actions {
  display: inline-flex;
  gap: .8125rem
}
.activity__container {
  margin: auto
}
.activity__content {
  text-align: center;
  position: relative
}
.activity__content::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -31.25rem;
  left: -50rem;
  border-radius: 65.375rem;
  background: radial-gradient(40.17% 39.79% at 50% 50%,rgba(170,20,240,.28) 0,rgba(170,20,240,0) 100%)
}
.activity__content::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 18.75rem;
  right: -43.75rem;
  border-radius: 65.375rem;
  background: radial-gradient(40.17% 39.79% at 50% 50%,rgba(170,20,240,.28) 0,rgba(170,20,240,0) 100%)
}
.activity__title {
  -webkit-transform: translate(-5%,0);
  transform: translate(-5%,0);
  opacity: 0
}
.activity__title._watcher-view {
  transition-delay: .3s;
  transition-duration: 1.7s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.activity__text {
  -webkit-transform: translate(5%,0);
  transform: translate(5%,0);
  opacity: 0
}
.activity__text._watcher-view {
  transition-delay: .3s;
  transition-duration: 1.7s;
  opacity: 1;
  -webkit-transform: translate(0,0);
  transform: translate(0,0)
}
.activity__slider {
  width: calc(50% + 50vw)
}
.activity__slide {
  aspect-ratio: 1182/650;
  border: .125rem solid #d10ed1;
  border-radius: 1.5625rem
}
.activity__slide iframe {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 1.5625rem
}
.swiper {
  overflow: hidden
}
.swiper-initialized {
  touch-action: pan-y
}
.swiper-wrapper {
  width: 100%;
  height: 100%;
  box-sizing: content-box;
  display: flex;
  position: relative
}
.swiper-vertical .swiper-wrapper {
  flex-direction: column
}
.swiper-autoheight .swiper-wrapper {
  align-items: flex-start
}
.swiper-initialized .swiper-slide {
  flex-shrink: 0
}
.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0)
}
.swiper-button-lock {
  display: none!important
}
@media (min-width:47.99875em) {
  .hero__image::before {
    content: "";
    position: absolute;
    width: 4rem;
    height: 4.5625rem;
    top: 22.261484%;
    left: 0;
    background: url(../img/hero/stars.svg) center no-repeat
  }
}
@media (min-width:76.875em) {
  .menu__list {
    -webkit-column-gap: 3.125rem;
    -moz-column-gap: 3.125rem;
    column-gap: 3.125rem
  }
  .title-block__title {
    font-size: 2.1875rem
  }
  .title-block__title:not(:last-child) {
    margin-bottom: 1rem
  }
  .header__container {
    min-height: 7.125rem
  }
  .footer {
    padding-top: 6.5rem
  }
  .footer {
    padding-bottom: 7.875rem
  }
  .footer__columns {
    gap: 4.375rem
  }
  .footer__logo {
    font-size: 3.125rem
  }
  .footer__logo:not(:last-child) {
    margin-bottom: 1.4375rem
  }
  .footer__text {
    font-size: 1.125rem
  }
  .footer__title {
    font-size: 1.25rem
  }
  .footer__title:not(:last-child) {
    margin-bottom: 1.3125rem
  }
  .footer__link {
    font-size: 1.125rem
  }
  .footer__socials:not(:last-child) {
    margin-bottom: 1.5rem
  }
  .hero {
    padding-top: 7.125rem
  }
  .hero {
    padding-bottom: 7.25rem
  }
  .hero::after {
    width: 64.5rem
  }
  .hero::after {
    height: 65.375rem
  }
  .hero__container {
    padding-top: 3.1875rem
  }
  .hero__body {
    padding-top: 2.75rem
  }
  .hero__body::before {
    width: 55.375rem
  }
  .hero__body::before {
    height: 56rem
  }
  .hero__body::after {
    width: 65.4375rem
  }
  .hero__body::after {
    height: 66.0625rem
  }
  .hero__content:not(:last-child) {
    margin-bottom: 3rem
  }
  .hero__title {
    font-size: 2.8125rem
  }
  .hero__actions:not(:last-child) {
    margin-bottom: 2.5rem
  }
  .hero__items {
    gap: 4.25rem
  }
  .hero__image::after {
    bottom: -9.375rem
  }
  .hero__image::after {
    width: 34.125rem
  }
  .hero__image::after {
    height: 18.9375rem
  }
  .item-hero__value {
    font-size: 1.5rem
  }
  .about {
    padding-bottom: 10.375rem
  }
  .about__text:not(:last-child) {
    margin-bottom: 3.25rem
  }
  .achievements {
    padding-bottom: 11.625rem
  }
  .achievements__content:not(:last-child) {
    margin-bottom: 5.4375rem
  }
  .achievements__items {
    gap: 2.25rem
  }
  .achievements__items::after {
    width: 64.5rem
  }
  .achievements__items::after {
    height: 65.375rem
  }
  .item-achievements__wrapper {
    gap: 1.4375rem
  }
  .item-achievements__content:not(:last-child) {
    margin-bottom: 1.75rem
  }
  .item-achievements__title-link {
    font-size: 1.25rem
  }
  .activity {
    padding-bottom: 11.625rem
  }
  .activity__content:not(:last-child) {
    margin-bottom: 3.4375rem
  }
  .activity__content::before {
    width: 64.5rem
  }
  .activity__content::before {
    height: 65.375rem
  }
  .activity__content::after {
    width: 64.5rem
  }
  .activity__content::after {
    height: 65.375rem
  }
}
@media (max-width:61.99875em) {
  .footer__container {
    flex-direction: column
  }
  .footer__columns {
    flex-wrap: wrap
  }
  .footer__column {
    flex: 0 1 25%
  }
}
@media (max-width:47.99875em) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    right: -100%;
    top: 0;
    overflow: auto;
    padding: 9.375rem .9375rem .9375rem 1.875rem;
    transition: all .3s;
    background: #000 radial-gradient(50.17% 39.79% at 50% 50%,rgba(170,20,240,.28) 0,rgba(170,20,240,0) 100%)
  }
  .menu__body::before {
    content: "";
    position: fixed;
    width: 100%;
    height: 4.375rem;
    left: -100%;
    top: 0;
    transition: all .3s;
    z-index: 20;
    background-color: #000
  }
  .menu-open .menu__body {
    right: 0
  }
  .menu-open .menu__body::before {
    left: 0
  }
  .menu__list {
    -webkit-column-gap: 1.5625rem;
    -moz-column-gap: 1.5625rem;
    column-gap: 1.5625rem
  }
  .menu__list {
    flex-direction: column;
    align-items: flex-end
  }
  .menu__link {
    font-size: 1.625rem
  }
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5
  }
  .icon-menu span,
  .icon-menu::after,
  .icon-menu::before {
    content: "";
    transition: all .3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: .125rem;
    background-color: #fff
  }
  .icon-menu::before {
    top: 0
  }
  .icon-menu::after {
    bottom: 0
  }
  .icon-menu span {
    top: calc(50% - .0625rem)
  }
  .menu-open .icon-menu span {
    width: 0
  }
  .menu-open .icon-menu::before {
    top: calc(50% - .0625rem);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg)
  }
  .menu-open .icon-menu::after {
    bottom: calc(50% - .0625rem);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
  }
  .title-block__title {
    font-size: 1.625rem
  }
  .title-block__title:not(:last-child) {
    margin-bottom: .625rem
  }
  .header__container {
    min-height: 3.75rem
  }
  .footer {
    padding-top: 1.875rem
  }
  .footer {
    padding-bottom: 3.125rem
  }
  .footer__columns {
    gap: 1.875rem
  }
  .footer__column {
    flex: 1 1 auto
  }
  .footer__logo {
    font-size: 2.1875rem
  }
  .footer__logo:not(:last-child) {
    margin-bottom: .75rem
  }
  .footer__text {
    font-size: 1rem
  }
  .footer__title {
    font-size: 1.125rem
  }
  .footer__title:not(:last-child) {
    margin-bottom: .75rem
  }
  .footer__link {
    font-size: 1rem
  }
  .footer__socials:not(:last-child) {
    margin-bottom: .75rem
  }
  .hero {
    padding-top: 3.75rem
  }
  .hero {
    padding-bottom: 3.125rem
  }
  .hero::after {
    width: 43.75rem
  }
  .hero::after {
    height: 43.75rem
  }
  .hero__container {
    padding-top: 1.875rem
  }
  .hero__container {
    flex-direction: column-reverse;
    align-items: center
  }
  .hero__body::before {
    width: 37.5rem
  }
  .hero__body::before {
    height: 37.5rem
  }
  .hero__body::before {
    top: -50rem;
    left: -12.5rem
  }
  .hero__body::after {
    width: 43.75rem
  }
  .hero__body::after {
    height: 43.75rem
  }
  .hero__body {
    text-align: center
  }
  .hero__content:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .hero__title {
    font-size: 2rem
  }
  .hero__actions:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .hero__actions {
    justify-content: center
  }
  .hero__items {
    gap: 2.5rem
  }
  .hero__items {
    justify-content: center
  }
  .hero__image::after {
    bottom: .0000000625rem
  }
  .hero__image::after {
    width: 18.75rem
  }
  .hero__image::after {
    height: 9.375rem
  }
  .item-hero__value {
    font-size: 1.375rem
  }
  .about {
    padding-bottom: 3.125rem
  }
  .about__container {
    flex-direction: column;
    row-gap: 1.875rem
  }
  .about__images {
    justify-content: center
  }
  .about__content {
    text-align: center
  }
  .about__text:not(:last-child) {
    margin-bottom: 1.875rem
  }
  .achievements {
    padding-bottom: 3.125rem
  }
  .achievements__content:not(:last-child) {
    margin-bottom: 2.8125rem
  }
  .achievements__items {
    gap: 1.25rem
  }
  .achievements__items::after {
    width: 43.75rem
  }
  .achievements__items::after {
    height: 43.75rem
  }
  .item-achievements__wrapper {
    gap: .9375rem
  }
  .item-achievements__content:not(:last-child) {
    margin-bottom: .9375rem
  }
  .item-achievements__title-link {
    font-size: 1.125rem
  }
  .activity {
    padding-bottom: 3.125rem
  }
  .activity__content:not(:last-child) {
    margin-bottom: 1.5625rem
  }
  .activity__content::before {
    width: 43.75rem
  }
  .activity__content::before {
    height: 43.75rem
  }
  .activity__content::after {
    width: 43.75rem
  }
  .activity__content::after {
    height: 43.75rem
  }
}
@media (max-width:47.99875em) and (any-hover:none) {
  .icon-menu {
    cursor: default
  }
}
@media (max-width:29.99875em) {
  .item-achievements__actions .button {
    font-size: .875rem
  }
  .button {
    width: 100%
  }
  .hero__actions {
    flex-direction: column;
    gap: .625rem
  }
}
@media (min-width:47.99875em) and (max-width:76.875em) {
  @supports ((-moz-column-gap:clamp(1.5625rem ,-1.0347225228rem + 5.4110211679vw ,3.125rem)) or (column-gap:clamp(1.5625rem ,-1.0347225228rem + 5.4110211679vw ,3.125rem))) {
    .menu__list {
      -webkit-column-gap: clamp(1.5625rem ,-1.0347225228rem + 5.4110211679vw ,3.125rem);
      -moz-column-gap: clamp(1.5625rem ,-1.0347225228rem + 5.4110211679vw ,3.125rem);
      column-gap: clamp(1.5625rem ,-1.0347225228rem + 5.4110211679vw ,3.125rem)
    }
  }
  @supports not ((-moz-column-gap:clamp(1.5625rem ,-1.0347225228rem + 5.4110211679vw ,3.125rem)) or (column-gap:clamp(1.5625rem ,-1.0347225228rem + 5.4110211679vw ,3.125rem))) {
    .menu__list {
      -webkit-column-gap: calc(1.5625rem + 1.5625 * (100vw - 47.99875rem)/ 28.87625);
      -moz-column-gap: calc(1.5625rem + 1.5625 * (100vw - 47.99875rem)/ 28.87625);
      column-gap: calc(1.5625rem + 1.5625 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (font-size:clamp(1.625rem ,0.6899998918rem + 1.9479676204vw ,2.1875rem)) {
    .title-block__title {
      font-size: clamp(1.625rem ,.6899998918rem + 1.9479676204vw ,2.1875rem)
    }
  }
  @supports not (font-size:clamp(1.625rem ,0.6899998918rem + 1.9479676204vw ,2.1875rem)) {
    .title-block__title {
      font-size: calc(1.625rem + .5625 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (margin-bottom:clamp(0.625rem ,0.0016665945rem + 1.2986450803vw ,1rem)) {
    .title-block__title:not(:last-child) {
      margin-bottom: clamp(.625rem ,.0016665945rem + 1.2986450803vw ,1rem)
    }
  }
  @supports not (margin-bottom:clamp(0.625rem ,0.0016665945rem + 1.2986450803vw ,1rem)) {
    .title-block__title:not(:last-child) {
      margin-bottom: calc(.625rem + .375 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (min-height:clamp(3.75rem ,-1.8600006493rem + 11.6878057227vw ,7.125rem)) {
    .header__container {
      min-height: clamp(3.75rem ,-1.8600006493rem + 11.6878057227vw ,7.125rem)
    }
  }
  @supports not (min-height:clamp(3.75rem ,-1.8600006493rem + 11.6878057227vw ,7.125rem)) {
    .header__container {
      min-height: calc(3.75rem + 3.375 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (padding-top:clamp(1.875rem ,-5.8127786676rem + 16.016622657vw ,6.5rem)) {
    .footer {
      padding-top: clamp(1.875rem ,-5.8127786676rem + 16.016622657vw ,6.5rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,-5.8127786676rem + 16.016622657vw ,6.5rem)) {
    .footer {
      padding-top: calc(1.875rem + 4.625 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,-4.7705564694rem + 16.4495043505vw ,7.875rem)) {
    .footer {
      padding-bottom: clamp(3.125rem ,-4.7705564694rem + 16.4495043505vw ,7.875rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,-4.7705564694rem + 16.4495043505vw ,7.875rem)) {
    .footer {
      padding-bottom: calc(3.125rem + 4.75 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (gap:clamp(1.875rem ,-2.2805560365rem + 8.6576338687vw ,4.375rem)) {
    .footer__columns {
      gap: clamp(1.875rem ,-2.2805560365rem + 8.6576338687vw ,4.375rem)
    }
  }
  @supports not (gap:clamp(1.875rem ,-2.2805560365rem + 8.6576338687vw ,4.375rem)) {
    .footer__columns {
      gap: calc(1.875rem + 2.5 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (font-size:clamp(2.1875rem ,0.6291664863rem + 3.2466127007vw ,3.125rem)) {
    .footer__logo {
      font-size: clamp(2.1875rem ,.6291664863rem + 3.2466127007vw ,3.125rem)
    }
  }
  @supports not (font-size:clamp(2.1875rem ,0.6291664863rem + 3.2466127007vw ,3.125rem)) {
    .footer__logo {
      font-size: calc(2.1875rem + .9375 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (margin-bottom:clamp(0.75rem ,-0.39277791rem + 2.3808493139vw ,1.4375rem)) {
    .footer__logo:not(:last-child) {
      margin-bottom: clamp(.75rem ,-.39277791rem + 2.3808493139vw ,1.4375rem)
    }
  }
  @supports not (margin-bottom:clamp(0.75rem ,-0.39277791rem + 2.3808493139vw ,1.4375rem)) {
    .footer__logo:not(:last-child) {
      margin-bottom: calc(.75rem + .6875 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (font-size:clamp(1rem ,0.7922221982rem + 0.4328816934vw ,1.125rem)) {
    .footer__text {
      font-size: clamp(1rem ,.7922221982rem + .4328816934vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.7922221982rem + 0.4328816934vw ,1.125rem)) {
    .footer__text {
      font-size: calc(1rem + .125 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9172221982rem + 0.4328816934vw ,1.25rem)) {
    .footer__title {
      font-size: clamp(1.125rem ,.9172221982rem + .4328816934vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9172221982rem + 0.4328816934vw ,1.25rem)) {
    .footer__title {
      font-size: calc(1.125rem + .125 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (margin-bottom:clamp(0.75rem ,-0.1850001082rem + 1.9479676204vw ,1.3125rem)) {
    .footer__title:not(:last-child) {
      margin-bottom: clamp(.75rem ,-.1850001082rem + 1.9479676204vw ,1.3125rem)
    }
  }
  @supports not (margin-bottom:clamp(0.75rem ,-0.1850001082rem + 1.9479676204vw ,1.3125rem)) {
    .footer__title:not(:last-child) {
      margin-bottom: calc(.75rem + .5625 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (font-size:clamp(1rem ,0.7922221982rem + 0.4328816934vw ,1.125rem)) {
    .footer__link {
      font-size: clamp(1rem ,.7922221982rem + .4328816934vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.7922221982rem + 0.4328816934vw ,1.125rem)) {
    .footer__link {
      font-size: calc(1rem + .125 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (margin-bottom:clamp(0.75rem ,-0.496666811rem + 2.5972901606vw ,1.5rem)) {
    .footer__socials:not(:last-child) {
      margin-bottom: clamp(.75rem ,-.496666811rem + 2.5972901606vw ,1.5rem)
    }
  }
  @supports not (margin-bottom:clamp(0.75rem ,-0.496666811rem + 2.5972901606vw ,1.5rem)) {
    .footer__socials:not(:last-child) {
      margin-bottom: calc(.75rem + .75 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (padding-top:clamp(3.75rem ,-1.8600006493rem + 11.6878057227vw ,7.125rem)) {
    .hero {
      padding-top: clamp(3.75rem ,-1.8600006493rem + 11.6878057227vw ,7.125rem)
    }
  }
  @supports not (padding-top:clamp(3.75rem ,-1.8600006493rem + 11.6878057227vw ,7.125rem)) {
    .hero {
      padding-top: calc(3.75rem + 3.375 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,-3.7316674603rem + 14.2850958833vw ,7.25rem)) {
    .hero {
      padding-bottom: clamp(3.125rem ,-3.7316674603rem + 14.2850958833vw ,7.25rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,-3.7316674603rem + 14.2850958833vw ,7.25rem)) {
    .hero {
      padding-bottom: calc(3.125rem + 4.125 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (width:clamp(43.75rem ,9.2588848968rem + 71.8583611099vw ,64.5rem)) {
    .hero::after {
      width: clamp(43.75rem ,9.2588848968rem + 71.8583611099vw ,64.5rem)
    }
  }
  @supports not (width:clamp(43.75rem ,9.2588848968rem + 71.8583611099vw ,64.5rem)) {
    .hero::after {
      width: calc(43.75rem + 20.75 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (height:clamp(43.75rem ,7.804440284rem + 74.8885329639vw ,65.375rem)) {
    .hero::after {
      height: clamp(43.75rem ,7.804440284rem + 74.8885329639vw ,65.375rem)
    }
  }
  @supports not (height:clamp(43.75rem ,7.804440284rem + 74.8885329639vw ,65.375rem)) {
    .hero::after {
      height: calc(43.75rem + 21.625 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (padding-top:clamp(1.875rem ,-0.3066669192rem + 4.545257781vw ,3.1875rem)) {
    .hero__container {
      padding-top: clamp(1.875rem ,-.3066669192rem + 4.545257781vw ,3.1875rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,-0.3066669192rem + 4.545257781vw ,3.1875rem)) {
    .hero__container {
      padding-top: calc(1.875rem + 1.3125 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (padding-top:clamp(1.25rem ,-1.2433336219rem + 5.1945803212vw ,2.75rem)) {
    .hero__body {
      padding-top: clamp(1.25rem ,-1.2433336219rem + 5.1945803212vw ,2.75rem)
    }
  }
  @supports not (padding-top:clamp(1.25rem ,-1.2433336219rem + 5.1945803212vw ,2.75rem)) {
    .hero__body {
      padding-top: calc(1.25rem + 1.5 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (width:clamp(37.5rem ,7.7877743388rem + 61.9020821609vw ,55.375rem)) {
    .hero__body::before {
      width: clamp(37.5rem ,7.7877743388rem + 61.9020821609vw ,55.375rem)
    }
  }
  @supports not (width:clamp(37.5rem ,7.7877743388rem + 61.9020821609vw ,55.375rem)) {
    .hero__body::before {
      width: calc(37.5rem + 17.875 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (height:clamp(37.5rem ,6.7488853296rem + 64.0664906281vw ,56rem)) {
    .hero__body::before {
      height: clamp(37.5rem ,6.7488853296rem + 64.0664906281vw ,56rem)
    }
  }
  @supports not (height:clamp(37.5rem ,6.7488853296rem + 64.0664906281vw ,56rem)) {
    .hero__body::before {
      height: calc(37.5rem + 18.5 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (width:clamp(43.75rem ,7.7005513831rem + 75.1049738107vw ,65.4375rem)) {
    .hero__body::after {
      width: clamp(43.75rem ,7.7005513831rem + 75.1049738107vw ,65.4375rem)
    }
  }
  @supports not (width:clamp(43.75rem ,7.7005513831rem + 75.1049738107vw ,65.4375rem)) {
    .hero__body::after {
      width: calc(43.75rem + 21.6875 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (height:clamp(43.75rem ,6.6616623739rem + 77.2693822778vw ,66.0625rem)) {
    .hero__body::after {
      height: clamp(43.75rem ,6.6616623739rem + 77.2693822778vw ,66.0625rem)
    }
  }
  @supports not (height:clamp(43.75rem ,6.6616623739rem + 77.2693822778vw ,66.0625rem)) {
    .hero__body::after {
      height: calc(43.75rem + 22.3125 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,-0.826944721rem + 4.9781394745vw ,3rem)) {
    .hero__content:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,-.826944721rem + 4.9781394745vw ,3rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,-0.826944721rem + 4.9781394745vw ,3rem)) {
    .hero__content:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.4375 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (font-size:clamp(2rem ,0.6494442881rem + 2.8137310073vw ,2.8125rem)) {
    .hero__title {
      font-size: clamp(2rem ,.6494442881rem + 2.8137310073vw ,2.8125rem)
    }
  }
  @supports not (font-size:clamp(2rem ,0.6494442881rem + 2.8137310073vw ,2.8125rem)) {
    .hero__title {
      font-size: calc(2rem + .8125 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,0.8361109909rem + 2.1644084672vw ,2.5rem)) {
    .hero__actions:not(:last-child) {
      margin-bottom: clamp(1.875rem ,.8361109909rem + 2.1644084672vw ,2.5rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,0.8361109909rem + 2.1644084672vw ,2.5rem)) {
    .hero__actions:not(:last-child) {
      margin-bottom: calc(1.875rem + .625 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (gap:clamp(2.5rem ,-0.4088892256rem + 6.0603437081vw ,4.25rem)) {
    .hero__items {
      gap: clamp(2.5rem ,-.4088892256rem + 6.0603437081vw ,4.25rem)
    }
  }
  @supports not (gap:clamp(2.5rem ,-0.4088892256rem + 6.0603437081vw ,4.25rem)) {
    .hero__items {
      gap: calc(2.5rem + 1.75 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (bottom:clamp(-9.375rem ,15.5833353034rem + -32.4661272239vw ,0.0000000625rem)) {
    .hero__image::after {
      bottom: clamp(-9.375rem ,15.5833353034rem + -32.4661272239vw ,.0000000625rem)
    }
  }
  @supports not (bottom:clamp(-9.375rem ,15.5833353034rem + -32.4661272239vw ,0.0000000625rem)) {
    .hero__image::after {
      bottom: calc(.0000000625rem + -9.3750000625 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (width:clamp(18.75rem ,-6.8066696247rem + 53.2444482923vw ,34.125rem)) {
    .hero__image::after {
      width: clamp(18.75rem ,-6.8066696247rem + 53.2444482923vw ,34.125rem)
    }
  }
  @supports not (width:clamp(18.75rem ,-6.8066696247rem + 53.2444482923vw ,34.125rem)) {
    .hero__image::after {
      width: calc(18.75rem + 15.375 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (height:clamp(9.375rem ,-6.5200018397rem + 33.1154495476vw ,18.9375rem)) {
    .hero__image::after {
      height: clamp(9.375rem ,-6.5200018397rem + 33.1154495476vw ,18.9375rem)
    }
  }
  @supports not (height:clamp(9.375rem ,-6.5200018397rem + 33.1154495476vw ,18.9375rem)) {
    .hero__image::after {
      height: calc(9.375rem + 9.5625 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.1672221982rem + 0.4328816934vw ,1.5rem)) {
    .item-hero__value {
      font-size: clamp(1.375rem ,1.1672221982rem + .4328816934vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.1672221982rem + 0.4328816934vw ,1.5rem)) {
    .item-hero__value {
      font-size: calc(1.375rem + .125 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,-8.926112506rem + 25.1071382191vw ,10.375rem)) {
    .about {
      padding-bottom: clamp(3.125rem ,-8.926112506rem + 25.1071382191vw ,10.375rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,-8.926112506rem + 25.1071382191vw ,10.375rem)) {
    .about {
      padding-bottom: calc(3.125rem + 7.25 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (margin-bottom:clamp(1.875rem ,-0.4105558201rem + 4.7616986278vw ,3.25rem)) {
    .about__text:not(:last-child) {
      margin-bottom: clamp(1.875rem ,-.4105558201rem + 4.7616986278vw ,3.25rem)
    }
  }
  @supports not (margin-bottom:clamp(1.875rem ,-0.4105558201rem + 4.7616986278vw ,3.25rem)) {
    .about__text:not(:last-child) {
      margin-bottom: calc(1.875rem + 1.375 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,-11.0038905242rem + 29.4359551535vw ,11.625rem)) {
    .achievements {
      padding-bottom: clamp(3.125rem ,-11.0038905242rem + 29.4359551535vw ,11.625rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,-11.0038905242rem + 29.4359551535vw ,11.625rem)) {
    .achievements {
      padding-bottom: calc(3.125rem + 8.5 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (margin-bottom:clamp(2.8125rem ,-1.5508338384rem + 9.0905155621vw ,5.4375rem)) {
    .achievements__content:not(:last-child) {
      margin-bottom: clamp(2.8125rem ,-1.5508338384rem + 9.0905155621vw ,5.4375rem)
    }
  }
  @supports not (margin-bottom:clamp(2.8125rem ,-1.5508338384rem + 9.0905155621vw ,5.4375rem)) {
    .achievements__content:not(:last-child) {
      margin-bottom: calc(2.8125rem + 2.625 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (gap:clamp(1.25rem ,-0.4122224146rem + 3.4630535475vw ,2.25rem)) {
    .achievements__items {
      gap: clamp(1.25rem ,-.4122224146rem + 3.4630535475vw ,2.25rem)
    }
  }
  @supports not (gap:clamp(1.25rem ,-0.4122224146rem + 3.4630535475vw ,2.25rem)) {
    .achievements__items {
      gap: calc(1.25rem + 1 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (width:clamp(43.75rem ,9.2588848968rem + 71.8583611099vw ,64.5rem)) {
    .achievements__items::after {
      width: clamp(43.75rem ,9.2588848968rem + 71.8583611099vw ,64.5rem)
    }
  }
  @supports not (width:clamp(43.75rem ,9.2588848968rem + 71.8583611099vw ,64.5rem)) {
    .achievements__items::after {
      width: calc(43.75rem + 20.75 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (height:clamp(43.75rem ,7.804440284rem + 74.8885329639vw ,65.375rem)) {
    .achievements__items::after {
      height: clamp(43.75rem ,7.804440284rem + 74.8885329639vw ,65.375rem)
    }
  }
  @supports not (height:clamp(43.75rem ,7.804440284rem + 74.8885329639vw ,65.375rem)) {
    .achievements__items::after {
      height: calc(43.75rem + 21.625 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (gap:clamp(0.9375rem ,0.1063887927rem + 1.7315267737vw ,1.4375rem)) {
    .item-achievements__wrapper {
      gap: clamp(.9375rem ,.1063887927rem + 1.7315267737vw ,1.4375rem)
    }
  }
  @supports not (gap:clamp(0.9375rem ,0.1063887927rem + 1.7315267737vw ,1.4375rem)) {
    .item-achievements__wrapper {
      gap: calc(.9375rem + .5 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (margin-bottom:clamp(0.9375rem ,-0.4130557119rem + 2.8137310073vw ,1.75rem)) {
    .item-achievements__content:not(:last-child) {
      margin-bottom: clamp(.9375rem ,-.4130557119rem + 2.8137310073vw ,1.75rem)
    }
  }
  @supports not (margin-bottom:clamp(0.9375rem ,-0.4130557119rem + 2.8137310073vw ,1.75rem)) {
    .item-achievements__content:not(:last-child) {
      margin-bottom: calc(.9375rem + .8125 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (font-size:clamp(1.125rem ,0.9172221982rem + 0.4328816934vw ,1.25rem)) {
    .item-achievements__title-link {
      font-size: clamp(1.125rem ,.9172221982rem + .4328816934vw ,1.25rem)
    }
  }
  @supports not (font-size:clamp(1.125rem ,0.9172221982rem + 0.4328816934vw ,1.25rem)) {
    .item-achievements__title-link {
      font-size: calc(1.125rem + .125 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (padding-bottom:clamp(3.125rem ,-11.0038905242rem + 29.4359551535vw ,11.625rem)) {
    .activity {
      padding-bottom: clamp(3.125rem ,-11.0038905242rem + 29.4359551535vw ,11.625rem)
    }
  }
  @supports not (padding-bottom:clamp(3.125rem ,-11.0038905242rem + 29.4359551535vw ,11.625rem)) {
    .activity {
      padding-bottom: calc(3.125rem + 8.5 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (margin-bottom:clamp(1.5625rem ,-1.5541670274rem + 6.4932254015vw ,3.4375rem)) {
    .activity__content:not(:last-child) {
      margin-bottom: clamp(1.5625rem ,-1.5541670274rem + 6.4932254015vw ,3.4375rem)
    }
  }
  @supports not (margin-bottom:clamp(1.5625rem ,-1.5541670274rem + 6.4932254015vw ,3.4375rem)) {
    .activity__content:not(:last-child) {
      margin-bottom: calc(1.5625rem + 1.875 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (width:clamp(43.75rem ,9.2588848968rem + 71.8583611099vw ,64.5rem)) {
    .activity__content::before {
      width: clamp(43.75rem ,9.2588848968rem + 71.8583611099vw ,64.5rem)
    }
  }
  @supports not (width:clamp(43.75rem ,9.2588848968rem + 71.8583611099vw ,64.5rem)) {
    .activity__content::before {
      width: calc(43.75rem + 20.75 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (height:clamp(43.75rem ,7.804440284rem + 74.8885329639vw ,65.375rem)) {
    .activity__content::before {
      height: clamp(43.75rem ,7.804440284rem + 74.8885329639vw ,65.375rem)
    }
  }
  @supports not (height:clamp(43.75rem ,7.804440284rem + 74.8885329639vw ,65.375rem)) {
    .activity__content::before {
      height: calc(43.75rem + 21.625 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (width:clamp(43.75rem ,9.2588848968rem + 71.8583611099vw ,64.5rem)) {
    .activity__content::after {
      width: clamp(43.75rem ,9.2588848968rem + 71.8583611099vw ,64.5rem)
    }
  }
  @supports not (width:clamp(43.75rem ,9.2588848968rem + 71.8583611099vw ,64.5rem)) {
    .activity__content::after {
      width: calc(43.75rem + 20.75 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
  @supports (height:clamp(43.75rem ,7.804440284rem + 74.8885329639vw ,65.375rem)) {
    .activity__content::after {
      height: clamp(43.75rem ,7.804440284rem + 74.8885329639vw ,65.375rem)
    }
  }
  @supports not (height:clamp(43.75rem ,7.804440284rem + 74.8885329639vw ,65.375rem)) {
    .activity__content::after {
      height: calc(43.75rem + 21.625 * (100vw - 47.99875rem)/ 28.87625)
    }
  }
}
@media (any-hover:hover) {
  .menu__link:hover {
    background-image: linear-gradient(97deg,#f86cf8 12.04%,#64cef5 81.84%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
  }
  .button:hover {
    box-shadow: 0 .125rem .9375rem .125rem rgba(255,255,255,.57)
  }
  .footer__link:hover {
    background-image: linear-gradient(97deg,#f86cf8 12.04%,#64cef5 81.84%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text
  }
  .socials-footer__link:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1)
  }
  .item-achievements__image img:hover {
    -webkit-transform: scale(1.07);
    transform: scale(1.07)
  }
  .item-achievements__title-link:hover {
    text-decoration: underline;
    text-decoration-color: initial
  }
}